<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <style>
        body, #logout-btn{
            background-color: black;
            color:white;
            text-align: center;
            text-justify:auto;

        }
        button{
    background-color: #000000;
    color: white;
        }
       input[type=submit] {
            color: white;
          
        }
    </style>
    <div class="header">

    </div>
    <div class="exercise">
        <h1>Edit workplan</h1>
    </div>
    <div class="header-nav">
      
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Logout" id="logout-btn" />
                </form>
          
                <a href="/">
                    <button id="home-btn">Homepage</button><br />
                </a><br />
          
    </div>
    <div class="edit-container">
        <div class="edit-form">
            <form action="/app/<%=fit._id%>/update?_method=PUT" method="POST">
                Exercise:
                <input type="text" name="exercise" value="<%=fit.exercise%>" /><br /><br />
                Type:
                <input type="text" name="type" value="<%=fit.type%>" /><br /><br />
                Location:
                <input type="text" name="location" value="<%=fit.location%>" /><br /><br />
                Date:
                <input type="date" name="date" value="<%=fit.date%>" /><br /><br />
                Calories burned:
                <input type="text" name="calories" value="<%=fit.calories%>" /><br /><br />
                Completed: <input type="checkbox" name="completed" <% if(fit.completed===true) { %> checked <% } %> />
                <br /><br />
                Description:
                <input type="text" name="description" value="<%=fit.description%>" /><br /><br />
                <input type="submit" name="" value="Submit" />
            </form>
</html>