<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="header">
        <h1>
            <%=currentUser.username%>'s Home Page
        </h1>
    </div>
    </div>
    <div class="header-nav">
        <ul>
            <li>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Logout" id="logout-btn" />
                </form>
            </li>
        </ul>
    </div>
    <div class="index-container">
        <div class="index-add">
            <a href="/app/new"><button id="add">Add New exercise</button></a>
            <ul id="index-ul">
                <!-- to access currentUser's fits info -->
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                          <th scope="col">Exercise</th>
                          <th scope="col">Type</th>
                          <th scope="col">Location</th>
                          <th scope="col">Date</th>
                          <th scope="col">Calories burned</th>
                          <th scope="col">Completed</th>
                          <th scope="col">Description</th>
                        </tr>
                      </thead>

                      <tbody>
                          <tr>
                            <% for(let i=0; i <currentUser.fits.length; i++) { %>

                              <th scope ="row"> <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                                <%=currentUser.fits[i].exercise; %></th>
                                <td>
                                     <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                                        <%=currentUser.fits[i].type; %>
                                </td>

                                <td>
                                     <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                                        <%=currentUser.fits[i].location; %>
                                </td>
                                <td>
                                    <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                                        <%=currentUser.fits[i].date; %>
                                </td>
                                <td>
                                     <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                                        <%=currentUser.fits[i].calories; %>
                                </td>
                                <td>
                                    <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                                        <%=currentUser.fits[i].completed; %>
                                </td>
                                <td>
                                     <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                                        <%=currentUser.fits[i].description; %>
                                </td>
                                <td>
                                    <a href="/app/<%=currentUser.fits[i]._id%>/edit"><button id="edit">EDIT</button></a>
                                </td>
                                <td>
                                    <form action="/app/<%=currentUser.fits[i]._id%>?_method=DELETE" method="POST">
                                        <input type="submit" id="delete-btn" value="DELETE" />
                                    </form>
                                </td>
                          </tr>
                      </tbody>     
                    <% } %> 
                  </table>                   
            </ul>
        </div>
    </div>
</body>

</html>