<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <div class="header">
        <h1>
            <%=currentUser.username%>'s Home Page
        </h1>
    </div>
    </div>
    <div class="header-nav">
        <ul>
            <li>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Logout" id="logout-btn" />
                </form>
            </li>
        </ul>
    </div>
    <div class="index-container">
        <div class="index-add">
            <a href="/app/new"><button id="index-add">Add New exercise</button></a>
            <ul id="index-ul">
                <% for(let i=0; i <currentUser.fits.length; i++) { %>
                    <li class="index-show">
                        Exercise: <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                            <%=currentUser.fits[i].exercise; %>
                        </a>
                        <br />
                        Type: <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                            <%=currentUser.fits[i].type; %>
                        </a>
                        <br />
                        Location: <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                            <%=currentUser.fits[i].location; %>
                        </a>
                        <br />
                        Date: <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                            <%=currentUser.fits[i].date; %>
                        </a>
                        <br />
                        Calories burned: <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                            <%=currentUser.fits[i].calories; %>
                        </a>
                        <br />
                        Completed: <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                            <%=currentUser.fits[i].completed; %>
                        </a>
                        <br />
                        Description: <a href="/app/<%=currentUser.fits[i]._id; %>" id="index-info">
                            <%=currentUser.fits[i].description; %>
                        </a>
                        <br />

                        <br /><a href="/app/<%=currentUser.fits[i]._id%>/edit"><button id="edit">Edit</button></a>
                        <form action="/app/<%=currentUser.fits[i]._id%>?_method=DELETE" method="POST">
                            <input type="submit" id="delete-btn" value="DELETE" />
                        </form>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
</body>

</html>