<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <div class="header">
            <div class="header-exercise">
             
            </div>
        </div>
        <div class="header-nav">
            <ul>
                <li>
                    <form action="/sessions?_method=DELETE" method="POST">
                        <input type="submit" value="Logout" id="logout-btn" />
                    </form>
                </li>
                <li>
                    <a href="/app">
                        <button id="home-btn">Dashboard</button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="exercise">
            <h1><%=fit.exercise%></h1>
        </div>
        <div class="type">
            <h1><%=fit.type%></h1>
        </div>
        <div class="location">
            <h1><%=fit.location%></h1>
        </div>
        <div class="Date">
            <h1><%=fit.date%></h1>
        </div>
        <div class="calories">
            <h1><%=fit.calories%></h1>
        </div>
        <div class="completed">
            <h1><%=fit.completed%></h1>
        </div>
        <div class="description">
            <h1><%=fit.description%></h1>
        </div>
        <br />
        <div class="show-btns">
            <a href="/app/<%=fit._id%>/edit"
                ><button id="edit">Edit</button></a
            >
        <form
        action="/app/<%=fit.
_id%>?_method=DELETE"
        method="POST"
    >
        <input
            type="submit"
            id="delete-btn"
            value="DELETE"
        />
    </form>
                    </div>
                </div>
            </div>
    </body>
</html>