<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> </title>
  <style>
    img {
      height: 300px;
      width: 300px;
    }
  </style>
</head>
<body>
  <h1><%= fits.exercise %> </h1>
  <p><%= fits.type %></p>
  <p><%= fits.location %></p>
  <p><%= fits.date %></p>
  <p><%= fits.calories %></p>
  <p><%= fits.description %></p>


</body>
</html>